<main>  
    {{#if issue.photo}}
        <figure>
            <img src="/uploads/{{issue.photo}}" alt="Photo of the Issue"/>
        </figure>
    {{/if}}
        <section>
        <h1>{{issue.title}}</h1> <!-- nt working, rename title -->
        <p>{{issue.username}} – {{convertDate issue.currdate}}</p>
        <dl>
            <dt>Location</dt>
            <dd>{{issue.location}}</dd>
            <dt>Description</dt>
            <dd>{{{convertMarkdown issue.description}}}</dd>
        </dl>
        <p>{{issue.status}}</p> 
        {{#if (equalsAddressed issue.status)}}
            {{#if issue.isMine}}
            <form method="post" action="/fix-confirmed/{{issue.id}}">
                <input type="submit" value="Fix Confirmed">
            </form>
            {{/if}}
        {{/if}}
            
        {{#if (equalsNew issue.status)}}
            {{#unless issue.isMine}}
            <form method="post" action="/flag-as-fixed/{{issue.id}}">
                <!--<input type="hidden" name="id" value="issue.id">-->
                <input type="submit" value="Flag as fixed">
            </form>
            {{/unless}}
        {{/if}}
        </section>

</main>