<main>  
    {{#if issue.photo}}
        <figure>
            <img src="/uploads/{{issue.photo}}" alt="Photo of the Issue"/>
        </figure>
    {{/if}}
        <section>
        <h1>{{issue.title}}</h1> <!-- nt working, rename title -->
        <p>{{issue.username}} – {{convertDate issue.currdate}}</p>
        <ul>
            <li><strong>Location</strong></li>
            <li>{{issue.location}}</li>
            <li><strong>Description</strong> </li>
            <li>{{issue.description}}</li>
        </ul>
        <p>{{issue.status}}</p> 
        {{#if (equalsAddressed issue.status)}}
            {{#if issue.isMine}}
                <a href="/fix-confirmed">Fix Confirmed</a>
            {{/if}}
        {{/if}}
            
        {{#if (equalsNew issue.status)}}
            {{#unless issue.isMine}} 
                <a href="/flag-as-fixed">Flag as fixed</a>
            {{/unless}}
        {{/if}}
        </section>

</main>