<main>
    <article> 
      {{#if issues}}
        {{#each issues}}
        <a href="/issues/{{id}}">
            <section>
                <figure>
                    <figcaption>{{status}}</figcaption>
                    <img src="/uploads/{{photo}}" alt="Issue Image" />
                </figure>
                 <ul>
                    <li>{{title}}</li>
                    <li>{{location}}</li>
                    <li>{{convertDate currdate}}</li>
                 </ul>
            </section>
        </a>
        {{/each}}
      {{else}}
        <p>Nothing to display. To add an issue, go to home page and click Add Issue.</p>
      {{/if}}
    </article>     
</main>